.list {
  margin-top: 2em;
  /* background-color: #e0e0e0; */
}
.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.5em;
}
.list__item-title::first-letter {
  text-transform: uppercase;
}

/* ========== btn ========== */
.btn {
  padding: 0.8em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  /* font-size: 17px; */
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  /* color: main.$green; */
  z-index: 1;
}

.btn::before,
.btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  /* background-color: main.$green; */
  transition: 0.5s linear;
}

.btn::before {
  top: -1em;
  left: -1em;
}

.btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn:hover::before,
.btn:hover::after {
  height: 410px;
  width: 410px;
}

.btn:hover {
  color: rgb(10, 25, 30);
  border-color: rgb(10, 25, 30);
}

.btn:active {
  filter: brightness(0.8);
}
